.input-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.input-container label {
  font-size: 1rem;
  color: #333;
  margin-bottom: 0.5rem;
}

/* Štýl pre input */
.input-container input {
  padding: 0.75rem;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 0.375rem;
  outline: none;
  transition: border-color 0.3s ease;
}

.input-container input:focus {
  border-color: #6a5af9;
  box-shadow: 0 0 0 2px rgba(106, 90, 247, 0.3);
}

.input-container input:disabled {
  background-color: #f5f5f5;
  border-color: #dcdcdc;
}
